#container {
  width: 1200px;
  margin: auto;
}

body {
  background-image:
    url("images/newbackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#nav {
  text-decoration: none;
  width: 20%;
  float: left;
  background: #FFE270;
  text-align: center;
  padding: 0.5%;
  margin-bottom: 5px;
  font-weight: bold;
  box-shadow: 0px 2px 8px 0px rgba(69, 69, 67, 27);
}

#header {
  width: 50%;
  float: left;
  background: #FFE270;
  text-align: center;
  padding: 0.5%;
  margin-bottom: 5px;
  font-weight: bold;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
}

#blackLine {
  width: 93%;
  background: #B5B5B1;
  clear: both;
  margin-bottom: 5px;
  color: #B5B5B1;
  box-shadow: 0px 10px 16px 0px rgba(69, 69, 67, 27);
}

#content {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-indent: 25px;
  padding: .5%;
  width: 60%;
  margin: 1%;
  background: rgba(232, 121, 90, 0.3);
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  opacity: 95%;
  border-top-style: solid;
  border-color: #E8795A;
  margin-bottom: 8%;
}

#imageTitle {
  margin: 1%;
  width: 19%;
  font-weight: bold;
  text-indent: 10px;
  font-size: 22px;
  background: rgba(232, 121, 90, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  opacity: 95%;
  border-left-style: solid;
  border-color: #FFE270;
}

#rhino {
  background-image: url(images/rhino.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
}

#whale {
  background-image: url(images/whale.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 656px;
  height: 340px;
}

#rhino {
  background-image: url(images/rhino.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
}

#elephants {
  background-image: url(images/elephants.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
}

#jaguar {
  background-image: url(images/jaguar.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
}

#tiger {
  background-image: url(images/tiger.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
}

#panda {
  background-image: url(images/panda.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
}

#polar {
  background-image: url(images/polar.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
}

#turtle {
  background-image: url(images/turtle.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#lion {
  background-image: url(images/lion.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 656px;
  height: 340px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#imageContent {
  margin-bottom: 10%;
  margin-top: .5%;
  text-indent: 25px;
  padding: .5%;
  width: 60%;
  background: rgba(232, 121, 90, 0.3);
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  opacity: 95%;
  border-top-style: solid;
  border-color: #E8795A
}

#footer {
  background: #B5B5B1;
  clear: both;
  margin-top: 5px;
  width: 93%;
  color: #B5B5B1;
  box-shadow: 0px 10px 16px 0px rgba(69, 69, 67, 27);
}
