#container{
    width: 1200px;
    margin: auto;
}
#nav{
  width: 20%;
  float: left;
  background: #ffcc66;
  text-align: center;
  padding: 0.5%;
  margin-bottom: 5px;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#header{
  width: 50%;
  float: left;
  background: #ffcc66;
  text-align: center;
  padding: 0.5%;
  margin-bottom: 5px;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#blackLine{
  width: 93%;
  background: black;
  clear: both;
  margin-bottom: 5px;
}

#content{
  width: 75%;
  background: gray;
  text-align: center;
}

#footer{
  background: black;
  clear: both;
  margin-top: 5px;
  width: 93%;
}
