#container{
    width: 1200px;
    margin:auto;
}
#nav{
  width: 20%;
  float: left;
  background: gray;
  text-align: center;
  padding: 1%;
  margin: 1.5%;
}
#header{
  width: 50%;
  float: left;
  background: orange;
  text-align: center;
  height: 40px;
  margin-bottom: 5px;
}
#blackLine{
  width: 100%;
  background: black;
  clear: both;
  margin-bottom: 5px;
}

#content{
  width: 75%;
  background: gray;
}

#footer{
  background: black;
  clear: both;
}
